* {
    box-sizing: border-box;
}

body {
    background-color: rosybrown;
    color: seashell;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button, input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}